aicert_worker {
	# Bind to all network interfaces
	bind 0.0.0.0

	# Use self-signed certificates
	tls internal

	tls {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/client.crt
		}
	}
	# Reverse proxy to the app
	reverse_proxy 127.0.0.1:8080
}
